 <ul class="jxtc_contactwall_tmp14">
                    <li>
                        <a href="{contacturl}">
                       
                            <div class="jxtc_contactwall_tmp14-content">
                                
                                 <h3 class="jxtc_contactwall_tmp14-main">{contactname}</h3>
                                 <div class="jxtc_contactwall_tmp14-subsub" style="background: url('{contactimageurl}') 50% 50%;"></div>
                            </div>
                        </a>
                    </li>
</ul>






