<a href="{contacturl}"><div style="background: url({contactimageurl}) top center no-repeat; width:500px; height:350px">
<div style="width:500px; height:256px;"></div>
<div style="width:500px; height:60px; background: #000;">
<div style="float:left; width:200px; border-right: 1px dotted #cccccc; color:#ebebeb; padding-right:10px; padding-left:20px; text-align:left; font-size:18px; letter-spacing:-1px; line-height:28px !important; margin-top:16px; font-weight:500;text-transform:uppercase;">{contactname} - {position}</div>
<div style="float:right; width:200px; color:#ebebeb; margin:16px 20px 5px 0px; padding-left:15px; text-align:left; font-size:11px; line-height:11px !important;">{description}</div>
</div>
</div></a>
<div style="clear:both;"></div>