<div id="jxtc_contactwall_tmp16">
	<div id="jxtc_contactwall_tmp16_card">
		<div class="jxtc_contactwall_tmp16_front jxtc_contactwall_tmp16_face"><img src="{contactimageurl}" width="300" height="200"/>
		</div>
		<div class="jxtc_contactwall_tmp16_back2 jxtc_contactwall_tmp16_face center">
			<h3 class="jxtc_contactwall_tmp16_title"><a class="jxtc_contactwall_tmp16_a" href="{contacturl}">{contactname}</a></h3>
<a class="jxtc_contactwall_tmp16_register" href="{contacturl}"><p class="jxtc_contactwall_tmp16_register">{position}</p></a><p class="fnewsitemintro">{description}</p> 

		</div>
 		</div>
</div>




