 <ul class="jxtc_contactwall_menu">
                  
                    <li>
                        <a href="{contacturl}">
                            <div class="jxtc_contactwall_icon"><img src="{contactimageurl}" width="100" height="100"/></div>
                            <div class="jxtc_contactwall_content">
                                <h2 class="jxtc_contactwall_main">{contactname}</h2>
                                <p class="jxtc_contactwall_subsub">{position}</p>
                                                          </div>
                        </a>
                    </li></ul>









