<section class="jxtc_contactwall_ac-container">
				<div>
					<input id="ac-1" name="accordion-1" type="checkbox" checked="checked"  />
					<label for="ac-1">Contact Us</label>
					<article class="jxtc_contactwall_ac-medium">
						{mainarea}
					</article>
				</div>
				<div>
					<input id="ac-2" name="accordion-1" type="checkbox"  />
					<label for="ac-2">Department</label>
					<article class="jxtc_contactwall_ac-small">
						{morearea}

					</article>
				</div>
				
			</section>

