 <ul class="jxtc_contactwall_tmp13">
                    <li>
                        <a href="{contacturl}">
                       
                            <div class="jxtc_contactwall_tmp13-content">
                                <h2 class="jxtc_contactwall_tmp13-main" style="background: url('{contactimageurl}') 50% 50%;"></h2>
                                <p class="jxtc_contactwall_tmp13-sub">{contactname}</p>
                                <h3 class="jxtc_contactwall_tmp13-subsub">- Contact -</h3>
                            </div>
                        </a>
                    </li></ul>









