<table width="100%" border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td class="legend">categoryurl</td>
        <td class="tag">{categoryurl}</td>
    </tr>
    <tr>
        <td class="legend">contacturl</td>
        <td class="tag">{contacturl}</td>
    </tr>
    <tr>
        <td class="legend">rawdescription</td>
        <td class="tag">{rawdescription}</td>
    </tr>
    <tr>
        <td class="legend">description</td>
        <td class="tag">{description}</td>
    </tr>
    <tr>
        <td class="legend">categorytitle</td>
        <td class="tag">{categorytitle}</td>
    </tr>
    <tr>
        <td class="legend">contactname</td>
        <td class="tag">{contactname}</td>
    </tr>
    <tr>
        <td class="legend">contactalias</td>
        <td class="tag">{contactalias}</td>
    </tr>
    <tr>
        <td class="legend">position</td>
        <td class="tag">{position}</td>
    </tr>
    <tr>
        <td class="legend">address</td>
        <td class="tag">{address}</td>
    </tr>
    <tr>
        <td class="legend">suburb</td>
        <td class="tag">{suburb}</td>
    </tr>
    <tr>
        <td class="legend">state</td>
        <td class="tag">{state}</td>
    </tr>
    <tr>
        <td class="legend">country</td>
        <td class="tag">{country}</td>
    </tr>
    <tr>
        <td class="legend">postcode</td>
        <td class="tag">{postcode}</td>
    </tr>
    <tr>
        <td class="legend">telephone</td>
        <td class="tag">{telephone}</td>
    </tr>
    <tr>
        <td class="legend">fax</td>
        <td class="tag">{fax}</td>
    </tr>
    <tr>
        <td class="legend">rawmiscellanous</td>
        <td class="tag">{rawmiscellanous}</td>
    </tr>
    <tr>
        <td class="legend">miscellanous</td>
        <td class="tag">{miscellanous}</td>
    </tr>
    <tr>
        <td class="legend">email_to</td>
        <td class="tag">{email_to}</td>
    </tr>
    <tr>
        <td class="legend">mobile</td>
        <td class="tag">{mobile}</td>
    </tr>
    <tr>
        <td class="legend">webpage</td>
        <td class="tag">{webpage}</td>
    </tr>
    <tr>
        <td class="legend">username</td>
        <td class="tag">{username}</td>
    </tr>
    <tr>
        <td class="legend">useralias</td>
        <td class="tag">{useralias}</td>
    </tr>
    <tr>
        <td class="legend">contactimageurl</td>
        <td class="tag">{contactimageurl}</td>
    </tr>
    <tr>
        <td class="legend">contactimage</td>
        <td class="tag">{contactimage}</td>
    </tr>
</table>