<div id="jxtc_contactwall_tmp17">
	<div id="jxtc_contactwall_tmp17_card">
		<div class="jxtc_contactwall_tmp17_front jxtc_contactwall_tmp17_face">
		<img src="{contactimageurl}" width="300" height="200"/>
		</div>
		<div class="jxtc_contactwall_tmp17_back jxtc_contactwall_tmp17_face center">
			<h3 class="jxtc_contactwall_tmp17_title"><a class="jxtc_contactwall_tmp17_a" href="{contacturl}">{contactname}</a></h3>
	<h3 class="jxtc_contactwall_tmp17_title"><a class="jxtc_contactwall_tmp17_a" href="{contacturl}">{position}</a></h3>
<p class="jxtc_contactwall_tmp17_intro">{description}</p> 

		</div>
 		</div>
</div>





