 <ul class="jxtc_contactwall_tmp12">
                    <li>
                        <a href="{contacturl}">
                            <div class="contactwall_tpm12-icon"><img src="{contactimageurl}" width="200" height="150"/></div>
                            <div class="contactwall_tpm12-content"> <h2 class="contactwall_tpm12-main">{position}</h2>
                                <p class="contactwall_tpm12-sub">{description}</p>
                                <h3 class="contactwall_tpm12-subsub">- Contact -...</h3>
                            </div>
                        </a>
                    </li></ul>









