<div class="newsitemwrap" >

<div class="newstext">
<h4><a class="titlelink" href="{link}">{title}</a></h4>
<p class="article-intro">{introtext}</p>
</div>


<div class="jxtc_newspro_latestnews" align="center" >
    
    
                <div class="view view-tenth" style="background: url({articleintroimageurl}) 50% 50% no-repeat;">
                   <img src="{articleintroimageurl}" class="intimage"  />
                    <div class="mask">
                        <div class="jxtc-hoverpad">
                        <center><h2>"{fulltext}"</h2>
                                 <br />
                        <a href="{link}" class="info"><i class="icon-plus-sign"></i>Read More</a></center>
                        </div>
                    </div>
                </div>
    </div>
<div class="newstext1">

<p class="newspromore"><a href="{link}"><i class="icon-plus-sign"></i>Read More</a></p>
<p class="newsprocomments"><i class="icon-comments"></i>Comments ({comments})</p>

<div style="clear:both"></div>

</div>

    </div>