<table id="table">
  <tr>
    <th>CLIENTE</th>
    <th>MODELLO</th>
    <th>REGIONE</th>
  </tr>
 {{#stripes rows}}
  <tr id="listStripes" class="{{stripeClass}}">
      <td>{{CLIENTE}}</td>
      <td>{{MODELLO}}</td>
      <td>{{REGIONE}}</td>
    </tr>
    {{/stripes}}
</table>
