<div align="center" class="modspace">
<div class="testimonialwrap">
<p>"{fulltext}"</p>
</div>
<div class="testimonialbtmwrap"></div>
<div class="jxtc_newspro_testimonial_grid">

<div class="jxtc_newspro_testimonial_item">
							<div class="jxtc_newspro_testimonial_info">
								<h3>{title}</h3>
								<p><a href="{link}">Read More</a></p>
							</div>
                            <a href="{link}"><div class="jxtc_newspro_testimonial_thumb" style="background-image: url({introimage});z-index:12;"></div></a>
						</div></div>
<h4>{title}</h4>
<span>{author}</span>

</div>