<div class="jxtc_contactwall_tmp9">
                    <img src="{contactimageurl}" width="300" />
                    <div class="jxtc_contactwall_tmp9_mask jxtc_contactwall_tmp9_mask-1"></div>
                    <div class="jxtc_contactwall_tmp9_mask jxtc_contactwall_tmp9_mask-2"></div>
                    <div class="jxtc_contactwall_tmp9_content">
                         <h2>{contactname}</h2>
                        <p>{position}</p>
                    </div>
                </div>










